doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ghostdown.css')

  body
    block content


    script(type="text/javascript", src="/javascripts/jquery.js")
    script(type="text/javascript", src="/javascripts/ghostdown.js")
