extends ../layout

block content
  div.editor
    div.outer
      div.editorwrap
        section.entry-markdown
          header.floatingheader
            != Markdown
          section.entry-markdown-content
            textarea#entry-markdown
              != markdownFile.rawContent
        section.entry-preview.active
          header.floatingheader
            != Preview
            span.entry-word-count 0 words
          section.entry-preview-content
            div.rendered-markdown


