<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Markdown Editor</title>

    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="/modules/highlightjs/styles/github.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="/modules/highlightjs/styles/github-gist.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="/modules/codemirror/lib/codemirror.css" type="text/css" media="all" charset="utf-8">

    <link id="codemirror-theme" rel="stylesheet" href="/modules/codemirror/lib/codemirror.css" type="text/css" media="all" charset="utf-8">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

            <button id="save-button">Save</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <div id="editor-container" style="height:800px">
              <div id="editor-options">
                <form class="form-inline">
                  <div class="form-group">
                    <label for="select-keymap">keymap</label>
                    <select id="select-keymap" class="form-control" name="option-keymap">
                      <option value="default">default</option>
                      <option value="emacs">emacs</option>
                      <option value="sublime">sublime</option>
                      <option value="vim" class="active" selected="selected">vim</option>
                    </select>

                    <label for="select-theme">theme</label>
                    <select id="select-theme" class="form-control" name="option-theme">
                      <option value="default" class="active" selected="selected">default</option>
                      <% themes.forEach(function(file) { %>
                      <option value="<%= file %>"><%= file %></option>
                      <% }); %>
                    </select>

                  </div>
                </form>
              </div>
              <hr />
              <textarea id="editor" rows="20" cols="120"></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div id="preview-container" style="height:800px">
            <h1 class="text-center">preview</h1>
            <hr />
            <div id="preview"></div>
          </div>
        </div>
      </div>
    </div>


    <script src="/modules/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/modules/codemirror/lib/codemirror.js" type="text/javascript" charset="utf-8"></script>
    <script src="/modules/codemirror/mode/markdown/markdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="/modules/highlightjs/highlight.pack.js" type="text/javascript" charset="utf-8"></script>
    <script src="/modules/codemirror/keymap/vim.js" type="text/javascript" charset="utf-8"></script>
    <script src="/modules/codemirror/keymap/emacs.js" type="text/javascript" charset="utf-8"></script>
    <script src="/modules/codemirror/keymap/sublime.js" type="text/javascript" charset="utf-8"></script>
    <script src="/modules/marked/marked.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/editor.js" type="text/javascript" charset="utf-8"></script>

  </body>
</html>



