<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ghost Down Editor</title>
    <link rel="stylesheet" type="text/css" href="/ss/ghostdown.css" media="all">
  </head>
  <body>
    <div id="title">
      <h1>Title : <%- markdownFile.name %></h1>
      <button onClick="save()">Save</button>
    </div>
    <div class="features">
      <section class="editor">
        <div class="outer">
          <div class="editorwrap">
            <section class="entry-markdown">
              <header class="floatingheader">
                &nbsp;&nbsp; Markdown
              </header>
              <section class="entry-markdown-content">
                <textarea id="entry-markdown">
                  <%- markdownFile.rawContent %>
                </textarea>
              </section>
            </section>
            <section class="entry-preview active">
              <header class="floatingheader">
                &nbsp;&nbsp; Preview <span class="entry-word-count">0 words</span>
              </header>
              <section class="entry-preview-content">
                <div class="rendered-markdown"></div>
              </section>
            </section>
          </div>
        </div>
      </section>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/ghostdown.js"></script>
    <script type="text/javascript">

      function save() {
        var markdownSource = CodeMirror.fromTextArea(document.getElementById('entry-markdown')).getValue();
        $.ajax({
          type : 'POST',
          url : '/markdown/save',
          data : { filename : "<%= markdownFile._file %>", content : markdownSource }
        });

      }
      $(document).ready(function () {
        console.log("<%- markdownFile._file %>");
      });

    </script>
  </body>
</html>



